<section id="contact-section">

    <h2>Mis datos de contacto</h2>

    <section class="contact-info">
        <p><strong>Ubicación:</strong> Mar del Plata, Buenos Aires</p>
        
        <p><strong>Redes:</strong>
            <a href="https://github.com/alvarezlautaro" target="_blank">Github</a>
            <a href="https://www.instagram.com/alvarezzlautaroo" target="_blank">Instagram</a>
        </p>
    </section>

    <div class="contact-email">
        <p class="email-texto">{{ miEmail }}</p>

        <button (click)="revelarEmail()" class="btn-revelar">Ver Email</button>
    </div>

</section>
