<section id="proyectos-section">

        @for (item of proyectoService.proyectos; track $index) {

        <section class="card-box">
                <img [src]=item.srcPhoto alt="CARD-PHOTO">

                <div class="box-text">
                    <h2 class="card-text proyect-name">{{item.name}}</h2>

                    <h4 class="card-text proyect-description">{{item.description}}</h4>

                    <a class="proyect-link" [href]=item.link target="_blank">Link al github</a>
                </div>
        </section>

    }
    

</section>