<section id="hero">
    
    <img class="hero-photo" src="hero-photo.jpeg" alt="lautaro-photo">

    <section class="hero-box-text">
        <h4 class="hero-subtitle hero-text">Hola, mi nombre es</h4>
        <h2 class="hero-title hero-text">Lautaro Alvarez</h2>
        <p class="hero-parrafo hero-text">Desarrollador Backend apasionado por construir APIs, trabajar con bases de datos y convertir ideas en soluciones funcionales.</p>

        <section class="hero-links">
            <a class="icon-link" target="_blank" href="https://github.com/alvarezlautaro"><img class="hero-icons" src="github-logo.png" alt="github-logo"></a>

            <a class="icon-link" target="_blank" href="https://www.linkedin.com/in/alvarez-lautaro/"><img class="hero-icons" src="linkedin-logo.png" alt="linkedin-logo"></a>

            <div class="like-box">
                <label class="label-like" for="button"><img class="hero-icons" src="like.png" alt="hearth-image"></label>

                <button id="button" (click)="incrementar(1)">{{ counterLikes }}</button>
            </div>
        </section>
    </section>
</section>